# Numpy Basics

#### Import the library and check the version

In [1]:
import numpy as np

np.__version__

'1.17.4'

#### Creating Numpy Arrays

In [2]:
a = [1, 2, -10, 45, 200, 36]

a_np = np.array(a)

a_np

array([  1,   2, -10,  45, 200,  36])

#### Accessing Values

In [3]:
a_np[2]

-10

In [4]:
a_np[1:4]

array([  2, -10,  45])

In [11]:
a_np[::2]

array([  1, -10, 200])

#### Convert back to List

In [13]:
print (a_np)
print (a_np.tolist())

[  1   2 -10  45 200  36]
[1, 2, -10, 45, 200, 36]

#### Scalar Operations

In [14]:
print (a_np)

print (a_np + 10)

[  1   2 -10  45 200  36]
[ 11  12   0  55 210  46]

In [15]:
print (a_np*5)

[   5   10  -50  225 1000  180]

In [16]:
print (a_np/3)

[ 0.33333333  0.66666667 -3.33333333 15.         66.66666667 12.        ]

In [17]:
print (a_np/3.0)

[ 0.33333333  0.66666667 -3.33333333 15.         66.66666667 12.        ]

#### Vector math

In [26]:
x = np.random.randint(0, 100, 10)

x

array([52, 94, 13, 57, 84,  0, 99, 97, 66, 55])

In [19]:
y = np.random.randint(0, 100, 10)

y

array([57, 29, 59, 15, 18, 27, 89,  0, 28, 92])

In [27]:
x + y

array([109, 123,  72,  72, 102,  27, 188,  97,  94, 147])

In [21]:
x - y

array([-55,  41, -59, -15,   5, -21,   3,  81,  11,   0])

In [28]:
x*y

array([2964, 2726,  767,  855, 1512,    0, 8811,    0, 1848, 5060])

In [29]:
x/y

/home/hasky/.local/lib/python3.7/site-packages/ipykernel_launcher.py:1: RuntimeWarning: divide by zero encountered in true_divide
  """Entry point for launching an IPython kernel.

array([0.9122807 , 3.24137931, 0.22033898, 3.8       , 4.66666667,
       0.        , 1.11235955,        inf, 2.35714286, 0.59782609])

#### Multi Dimensional

In [30]:
m = np.random.randint(0, 100, (3,5))

m

array([[ 3, 31, 87, 70, 72],
       [68, 33, 69, 96,  0],
       [41, 80, 61, 75, 13]])

In [48]:
n = np.random.randint(0, 100, (3,5))

n

array([[69, 40, 63, 12, 93],
       [20, 96, 43, 34, 38],
       [70, 73, 25, 25, 10]])

In [49]:
m + n

array([[ 72,  71, 150,  82, 165],
       [ 88, 129, 112, 130,  38],
       [111, 153,  86, 100,  23]])

#### Size, Shape, Type

In [51]:
len(m)

3

In [34]:
m.shape

(3, 5)

In [35]:
m.ndim

2

In [36]:
m.dtype

dtype('int64')

#### Data Types

Reference: http://docs.scipy.org/doc/numpy-1.10.1/user/basics.types.html

In [ ]:
# Change Data Type 

temp = m.astype(np.float64)

temp

In [ ]:
temp.dtype

#### Accessing values in 2D arrays

In [ ]:
m

In [ ]:
m[1]  # Second Row

In [ ]:
m[:, 2]  # 3rd Column

In [ ]:
m[1,3]