# Pandas Series:  Operations

In [1]:
import numpy as np
import string
import pandas as pd

pd.__version__

'0.25.3'

#### Create a list of indexes using the first 10 alphabets

In [5]:
print (string.ascii_lowercase)

index = list(string.ascii_lowercase[:10])

print (index)

abcdefghijklmnopqrstuvwxyz
['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

#### Create 2 Series' with random numbers in them

In [6]:
s1 = pd.Series(np.random.randint(1,100, 10), index=index)

s1

a    20
b    26
c    51
d    92
e    10
f    72
g     7
h    91
i    20
j    96
dtype: int64

In [7]:
s2 = pd.Series(np.random.randint(1,100, 10), index=index)

s2

a    26
b    80
c    34
d    65
e    67
f    57
g    32
h    53
i    10
j    20
dtype: int64

In [11]:
# Our side by side function!

# side_by_side function from Wes McKinney, author of Pandas

def side_by_side(*objs, **kwds):
    from pandas.io.formats.printing import adjoin
    space = kwds.get('space', 4)
    reprs = [repr(obj).split('\n') for obj in objs]
    print (adjoin(space, *reprs))

In [12]:
side_by_side(s1,s2)

a    20         a    26
b    26         b    80
c    51         c    34
d    92         d    65
e    10         e    67
f    72         f    57
g     7         g    32
h    91         h    53
i    20         i    10
j    96         j    20
dtype: int64    dtype: int64

In [13]:
side_by_side(s1, s2, s1 + s2)

a    20         a    26         a     46
b    26         b    80         b    106
c    51         c    34         c     85
d    92         d    65         d    157
e    10         e    67         e     77
f    72         f    57         f    129
g     7         g    32         g     39
h    91         h    53         h    144
i    20         i    10         i     30
j    96         j    20         j    116
dtype: int64    dtype: int64    dtype: int64

In [14]:
side_by_side(s1, s2, s1-s2)

a    20         a    26         a    -6
b    26         b    80         b   -54
c    51         c    34         c    17
d    92         d    65         d    27
e    10         e    67         e   -57
f    72         f    57         f    15
g     7         g    32         g   -25
h    91         h    53         h    38
i    20         i    10         i    10
j    96         j    20         j    76
dtype: int64    dtype: int64    dtype: int64

In [15]:
side_by_side(s1, s2, s1*s2)

a    20         a    26         a     520
b    26         b    80         b    2080
c    51         c    34         c    1734
d    92         d    65         d    5980
e    10         e    67         e     670
f    72         f    57         f    4104
g     7         g    32         g     224
h    91         h    53         h    4823
i    20         i    10         i     200
j    96         j    20         j    1920
dtype: int64    dtype: int64    dtype: int64

In [16]:
side_by_side(s1, s2, s1/s2)

a    20         a    26         a    0.769231
b    26         b    80         b    0.325000
c    51         c    34         c    1.500000
d    92         d    65         d    1.415385
e    10         e    67         e    0.149254
f    72         f    57         f    1.263158
g     7         g    32         g    0.218750
h    91         h    53         h    1.716981
i    20         i    10         i    2.000000
j    96         j    20         j    4.800000
dtype: int64    dtype: int64    dtype: float64

### NANs

In [17]:
s3 = pd.Series({
        'a' : 10,
        'b' : -14,
        'c' : 35
    })

s3

a    10
b   -14
c    35
dtype: int64

In [18]:
s4 = pd.Series({
        'b' : 22,
        'c' : 2,
        'd' : -14
    })

s4

b    22
c     2
d   -14
dtype: int64

In [19]:
side_by_side(s3,s4)

a    10         b    22
b   -14         c     2
c    35         d   -14
dtype: int64    dtype: int64

In [20]:
side_by_side(s3, s4, s3+s4)

a    10         b    22         a     NaN
b   -14         c     2         b     8.0
c    35         d   -14         c    37.0
dtype: int64    dtype: int64    d     NaN
                                dtype: float64

In [21]:
side_by_side(s3, s4, s4-s3)

a    10         b    22         a     NaN
b   -14         c     2         b    36.0
c    35         d   -14         c   -33.0
dtype: int64    dtype: int64    d     NaN
                                dtype: float64

In [22]:
s3*s4

a      NaN
b   -308.0
c     70.0
d      NaN
dtype: float64

In [23]:
s3/s4

a          NaN
b    -0.636364
c    17.500000
d          NaN
dtype: float64

In [24]:
s5 = s3 + s4

s5

a     NaN
b     8.0
c    37.0
d     NaN
dtype: float64

In [25]:
s4.hasnans, s5.hasnans

(False, True)

In [26]:
s5.fillna(-1)

a    -1.0
b     8.0
c    37.0
d    -1.0
dtype: float64

In [27]:
s5.dropna()

b     8.0
c    37.0
dtype: float64

In [30]:
print (s5) 

s5.ffill()   #forword fill

a     NaN
b     8.0
c    37.0
d     NaN
dtype: float64

a     NaN
b     8.0
c    37.0
d    37.0
dtype: float64

In [31]:
s5

a     NaN
b     8.0
c    37.0
d     NaN
dtype: float64

In [32]:
s5.notnull()

a    False
b     True
c     True
d    False
dtype: bool

In [33]:
side_by_side(s5, s5.notnull(), s5.isnull())

a     NaN         a    False     a     True
b     8.0         b     True     b    False
c    37.0         c     True     c    False
d     NaN         d    False     d     True
dtype: float64    dtype: bool    dtype: bool

In [34]:
s5[s5.notnull()]

b     8.0
c    37.0
dtype: float64