# Pandas Series:  Operations

In [2]:
import numpy as np
import string
import pandas as pd

pd.__version__

u'0.17.1'

#### Create a list of indexes using the first 10 alphabets

In [5]:
print string.lowercase

index = list(string.lowercase[:10])

print index

abcdefghijklmnopqrstuvwxyz
['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

#### Create 2 Series' with random numbers in them

In [6]:
s1 = pd.Series(np.random.randint(1,100, 10), index=index)

s1

a    32
b    53
c    73
d    40
e    24
f    49
g    16
h    47
i    23
j    49
dtype: int32

In [7]:
s2 = pd.Series(np.random.randint(1,100, 10), index=index)

s2

a    20
b    15
c    64
d    37
e    21
f    87
g    19
h    43
i    89
j    55
dtype: int32

In [8]:
# Our side by side function!

# side_by_side function from Wes McKinney, author of Pandas

def side_by_side(*objs, **kwds):
    from pandas.core.common import adjoin
    space = kwds.get('space', 4)
    reprs = [repr(obj).split('\n') for obj in objs]
    print adjoin(space, *reprs)

In [9]:
side_by_side(s1,s2)

a    32         a    20
b    53         b    15
c    73         c    64
d    40         d    37
e    24         e    21
f    49         f    87
g    16         g    19
h    47         h    43
i    23         i    89
j    49         j    55
dtype: int32    dtype: int32

In [10]:
side_by_side(s1, s2, s1 + s2)

a    32         a    20         a     52
b    53         b    15         b     68
c    73         c    64         c    137
d    40         d    37         d     77
e    24         e    21         e     45
f    49         f    87         f    136
g    16         g    19         g     35
h    47         h    43         h     90
i    23         i    89         i    112
j    49         j    55         j    104
dtype: int32    dtype: int32    dtype: int32

In [11]:
side_by_side(s1, s2, s1-s2)

a    32         a    20         a    12
b    53         b    15         b    38
c    73         c    64         c     9
d    40         d    37         d     3
e    24         e    21         e     3
f    49         f    87         f   -38
g    16         g    19         g    -3
h    47         h    43         h     4
i    23         i    89         i   -66
j    49         j    55         j    -6
dtype: int32    dtype: int32    dtype: int32

In [12]:
side_by_side(s1, s2, s1*s2)

a    32         a    20         a     640
b    53         b    15         b     795
c    73         c    64         c    4672
d    40         d    37         d    1480
e    24         e    21         e     504
f    49         f    87         f    4263
g    16         g    19         g     304
h    47         h    43         h    2021
i    23         i    89         i    2047
j    49         j    55         j    2695
dtype: int32    dtype: int32    dtype: int32

In [13]:
side_by_side(s1, s2, s1/s2)

a    32         a    20         a    1.600000
b    53         b    15         b    3.533333
c    73         c    64         c    1.140625
d    40         d    37         d    1.081081
e    24         e    21         e    1.142857
f    49         f    87         f    0.563218
g    16         g    19         g    0.842105
h    47         h    43         h    1.093023
i    23         i    89         i    0.258427
j    49         j    55         j    0.890909
dtype: int32    dtype: int32    dtype: float64

### NANs

In [14]:
s3 = pd.Series({
        'a' : 10,
        'b' : -14,
        'c' : 35
    })

s3

a    10
b   -14
c    35
dtype: int64

In [15]:
s4 = pd.Series({
        'b' : 22,
        'c' : 2,
        'd' : -14
    })

s4

b    22
c     2
d   -14
dtype: int64

In [16]:
side_by_side(s3,s4)

a    10         b    22
b   -14         c     2
c    35         d   -14
dtype: int64    dtype: int64

In [17]:
side_by_side(s3, s4, s3+s4)

a    10         b    22         a   NaN
b   -14         c     2         b     8
c    35         d   -14         c    37
dtype: int64    dtype: int64    d   NaN
                                dtype: float64

In [19]:
side_by_side(s3, s4, s4-s3)

a    10         b    22         a   NaN
b   -14         c     2         b    36
c    35         d   -14         c   -33
dtype: int64    dtype: int64    d   NaN
                                dtype: float64

In [20]:
s3*s4

a    NaN
b   -308
c     70
d    NaN
dtype: float64

In [21]:
s3/s4

a          NaN
b    -0.636364
c    17.500000
d          NaN
dtype: float64

In [22]:
s5 = s3 + s4

s5

a   NaN
b     8
c    37
d   NaN
dtype: float64

In [24]:
s4.hasnans, s5.hasnans

(False, True)

In [25]:
s5.fillna(-1)

a    -1
b     8
c    37
d    -1
dtype: float64

In [26]:
s5.dropna()

b     8
c    37
dtype: float64

In [28]:
print s5 

s5.ffill()

a   NaN
b     8
c    37
d   NaN
dtype: float64

a   NaN
b     8
c    37
d    37
dtype: float64

In [29]:
s5

a   NaN
b     8
c    37
d   NaN
dtype: float64

In [30]:
s5.notnull()

a    False
b     True
c     True
d    False
dtype: bool

In [31]:
side_by_side(s5, s5.notnull(), s5.isnull())

a   NaN           a    False     a     True
b     8           b     True     b    False
c    37           c     True     c    False
d   NaN           d    False     d     True
dtype: float64    dtype: bool    dtype: bool